<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kgc.spider.mapper.CrawlerRulesMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="CrawlerRulesEntity" id="crawlerRulesMap">
        <result property="id" column="id"/>
        <result property="ruleName" column="rule_name"/>
        <result property="url" column="url"/>
        <result property="reqMethod" column="req_method"/>
        <result property="startPageNo" column="start_page_no"/>
        <result property="endPageNo" column="end_page_no"/>
        <result property="isNeedProxy" column="is_need_proxy"/>
        <result property="isNeedPage" column="is_need_page"/>
        <result property="description" column="description"/>
        <result property="status" column="status"/>
        <result property="creatdTime" column="creatd_time"/>
        <result property="updatedTime" column="updated_time"/>
    </resultMap>
  
  <!--要查询的字段-->  
  <sql id="sel_CrawlerRulesColumns_List" > 
  	  id ,        
   rule_name  ,        
  url ,        
   req_method  ,        
   start_page_no  ,        
   end_page_no  ,        
   is_need_proxy  ,        
   is_need_page  ,        
  description ,        
  status ,        
   creatd_time  ,        
   updated_time          
  
  </sql>
  
  <!--要添加的字段-->
  <sql id="ins_CrawlerRulesColumns_List" >
       #{id},   #{ruleName},   #{url},   #{reqMethod},   #{startPageNo},   #{endPageNo},   #{isNeedProxy},   #{isNeedPage},   #{description},   #{status},   #{creatdTime},   #{updatedTime}   </sql> 
  
  <!--要修改的字段-->
  <sql id="upd_CrawlerRulesColumns_List" >
    <set>
    <if test="t.ruleName != null">rule_name = #{t.ruleName}, </if>
    <if test="t.url != null">url = #{t.url}, </if>
    <if test="t.reqMethod != null">req_method = #{t.reqMethod}, </if>
    <if test="t.startPageNo != null">start_page_no = #{t.startPageNo}, </if>
    <if test="t.endPageNo != null">end_page_no = #{t.endPageNo}, </if>
    <if test="t.isNeedProxy != null">is_need_proxy = #{t.isNeedProxy}, </if>
    <if test="t.isNeedPage != null">is_need_page = #{t.isNeedPage}, </if>
    <if test="t.description != null">description = #{t.description}, </if>
    <if test="t.status != null">status = #{t.status}, </if>
    <if test="t.creatdTime != null">creatd_time = #{t.creatdTime}, </if>
    <if test="t.updatedTime != null">updated_time = #{t.updatedTime}</if>
	</set>
	where id = #{t.id}
  </sql> 
  
  <!--定义删除的条件-->
  <sql id="del_CrawlerRulesPramas_List">
    <where>
    <if test="t.id != null">and id = #{t.id}</if>
    <if test="t.ruleName != null">and rule_name = #{t.ruleName}</if>
    <if test="t.url != null">and url = #{t.url}</if>
    <if test="t.reqMethod != null">and req_method = #{t.reqMethod}</if>
    <if test="t.startPageNo != null">and start_page_no = #{t.startPageNo}</if>
    <if test="t.endPageNo != null">and end_page_no = #{t.endPageNo}</if>
    <if test="t.isNeedProxy != null">and is_need_proxy = #{t.isNeedProxy}</if>
    <if test="t.isNeedPage != null">and is_need_page = #{t.isNeedPage}</if>
    <if test="t.description != null">and description = #{t.description}</if>
    <if test="t.status != null">and status = #{t.status}</if>
    <if test="t.creatdTime != null">and creatd_time = #{t.creatdTime}</if>
    <if test="t.updatedTime != null">and updated_time = #{t.updatedTime}</if>
	</where>
  </sql> 
  
  <!--定义查询的条件-->
  <sql id="sel_CrawlerRulesPramas_List">
    <where>
    <if test="t.id != null">and id = #{t.id}</if>
    <if test="t.ruleName != null and t.ruleName !='' ">and rule_name = #{t.ruleName}</if>
    <if test="t.url != null">and url = #{t.url}</if>
    <if test="t.reqMethod != null and t.reqMethod != -1">and req_method = #{t.reqMethod}</if>
    <if test="t.startPageNo != null">and start_page_no = #{t.startPageNo}</if>
    <if test="t.endPageNo != null">and end_page_no = #{t.endPageNo}</if>
    <if test="t.isNeedProxy != null and t.isNeedProxy != -1">and is_need_proxy = #{t.isNeedProxy}</if>
    <if test="t.isNeedPage != null and t.isNeedPage != -1">and is_need_page = #{t.isNeedPage}</if>
    <if test="t.description != null">and description = #{t.description}</if>
    <if test="t.status != null and t.status != -1">and status = #{t.status}</if>
    <if test="t.creatdTime != null">and creatd_time = #{t.creatdTime}</if>
    <if test="t.updatedTime != null">and updated_time = #{t.updatedTime}</if>
	</where>
  </sql>

    <!--添加-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into crawler_rules values (<include refid="ins_CrawlerRulesColumns_List" />)
    </insert>

    <!--修改-->
    <update id="update">
        update crawler_rules <include refid="upd_CrawlerRulesColumns_List" />
    </update>

    <!--根据条件删除-->
    <delete id="delete">
        delete from crawler_rules <include refid="del_CrawlerRulesPramas_List" />
    </delete>

    <!--批量删除-->
    <delete id="deleteBatch">
        delete from crawler_rules where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--根据主键id查询单个对象-->
	<select id="queryObjectById" resultMap="crawlerRulesMap">
		select  <include refid="sel_CrawlerRulesColumns_List" />  from crawler_rules where id = #{id}
	</select>
	
	<!--查询所有对象-->
	<select id="queryAll" resultMap="crawlerRulesMap">
		select  <include refid="sel_CrawlerRulesColumns_List" />  from crawler_rules
    </select>

    <!--根据条件（无条件）查询多个对象-->
	<select id="queryManyByPramas" resultMap="crawlerRulesMap">
		select  <include refid="sel_CrawlerRulesColumns_List" />  from crawler_rules <include refid="sel_CrawlerRulesPramas_List" />
	</select>
	
	<!--根据条件（无条件）分页查询-->
	<select id="queryListByPramas" resultMap="crawlerRulesMap">
		select  <include refid="sel_CrawlerRulesColumns_List" />  from crawler_rules <include refid="sel_CrawlerRulesPramas_List" /> order by id desc
	</select>

    <!--根据条件查询单条数据-->
    <select id="queryObjectByPramas" resultMap="crawlerRulesMap">
        select  <include refid="sel_CrawlerRulesColumns_List" />  from crawler_rules <include refid="sel_CrawlerRulesPramas_List" />
    </select>
	
	<!--根据条件（无条件）查询数据条数-->
 	<select id="queryTotalByPramas" resultType="java.lang.Long">
		select count(*) from crawler_rules <include refid="sel_CrawlerRulesPramas_List" />
	</select>
	


</mapper>